
<div class="footer">
  <div class="container">
    <p>Follow our Socials</p>
    <a href="https://www.instagram.com/xpandedkingdom/" target="_blank">
      <img class="socials" src="assets/images/IG_logo-01.png">
    </a>
    <a href="https://www.youtube.com/channel/UCRAQpXjQ30zdlNwrsOvt3VA" target="_blank">
      <img class="socials" src="assets/images/YT_logo-01.png">
    </a>
    <a href="https://twitter.com/xpandedkingdom" target="_blank">
    <img class="socials" src="assets/images/Twitter.png">
    </a>
    </div>
    
    <div class="background">
      
    <img class="wordmark" src="assets/images/XK_Wordmark.svg">
    <br>
    <nav>
        <div class="links">
        <span class="span">Privacy Policy</span>
        <span class="span">About Us</span>
        <span class="span">Help</span>
        <span class="span">Terms of Service</span>
        <span class="span">Contact</span>
        </div>
      </nav>
    
    <span class="copyright">© Fellowship International All Rights Reserved</span>
    
</div>
</div>
