<div class="background" [ngStyle]="{backgroundImage:'url(../../../assets/images/' + series.backgroundImage +')', backgroundPosition: backgroundPosition}">
    <div class="info">
        <img class="logo info-item" [src]="'assets/images/' + series.logo">
        <button class="play info-item" mat-raised-button><img class="play" src="assets/images/Play.png">WATCH</button>
        <h1 class="info-item">{{ series.episodes[0].title }}</h1>
    </div>
</div>
<div class="slider">
    <app-episode-slider [episodes]="series.episodes"></app-episode-slider>
</div>
<div class="overview">
    <h1>Series Overview</h1>
    <p>{{series.description}}</p>
</div>
