
<mat-toolbar>
  <mat-toolbar-row>
    <img routerLink="home" class="logomark" src="assets/images/XK_Logomark.svg"
    onmouseover="this.src='assets/images/XK_Logomark_Red.svg'"
    onmouseout="this.src='assets/images/XK_Logomark.svg'">
    <nav>
      <div>
      <span routerLinkActive="active_route" routerLink="home" class="span">HOME</span>
      <span routerLinkActive="active_route" routerLink="gaming" class="span">CREATE</span>
      <span routerLinkActive="active_route" routerLink="shift-enter" class="span">GROW</span>
      <span routerLinkActive="active_route" routerLink="crypto" class="span">SERVE</span>
    </div>
    </nav>
    <button mat-raised-button>LOGIN</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>



