.background {
    background-image: url(../../assets/images/Shift-enter2.png);
    height: auto;
    width: 100%;
}

.logo {
    position: absolute;
    width: 334px;
    height: 136px;
    left: 141px;
    top: 320px;
}

.play {
   text-align: center; 
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}